.container {
  width: 500px;
  height: 300px;
  margin: 50px auto;
}

.satu,
.dua {
  width: 120px;
  height: 120px;
  margin: 20px 0;
}

.satu {
  background-color: rgb(41, 247, 0);
  border: solid;
  border-image-source: url(../img/hearts.png);
  border-image-width: 15px;
  border-image-slice: 20 20 20 20;
  border-image-repeat: round;
  border-image-outset: 17px;
  box-shadow: -1px -1px black, 22px 22px black;
}

.dua {
  background-color: blue;
  border: solid;
  border-image-source: url(../img/border1.png);
  border-image-width: 15px;
  border-image-slice: 30 30 30 30;
  border-image-repeat: round;
  border-image-outset: 8px;
  box-shadow: 2px 2px 10px black;
}
